.layout {
  width: 375px;
  margin: 0 auto;
  height: 100vh;
  background: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.menu {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  display: flex;
}

.menu a {
  flex: 1;
  text-align: center;
  line-height: 60px;
  color: #282c34;
  text-decoration: none;
  background: #fff;
  box-sizing: border-box;
  z-index: 2;
  transition: box-shadow 0.2s;
}

.menu a:first-child {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-right-radius: 10px;
  box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1);
}

.menu a:last-child {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 10px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.1);
}

.menu a.active {
  border: 0;
  background: #f1f1f1;
  box-shadow: none;
  z-index: 1;
}